@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=MonteCarlo&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}
a{
  text-emphasis: none;
  color: gold;
}